@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Courgette&display=swap');

:root {
    --fonte-titulo: font-family: 'Courgette', cursive;
    --fonte-padrao: font-family: 'Caveat', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}