@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');


:root {
    --fonte-padrao: 'Sriracha', 'cursive';
    --fonte-titulo: 'Passion One', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    min-height: 25vh;
    position: relative;
    background-color: #0a0a0a;
    color: white;
    margin-bottom: 50px;
}

header h1 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    font-family: var(--fonte-titulo);
    font-weight: bold;
    font-size: 10vw;
}

header p {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    translate: -50% -50%;
    font-family: var(--fonte-padrao);
    font-size: 6vw;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section.normal {
    font-family: var(--fonte-padrao);
    font-size: 4vw;
    padding-left: 25px;
    margin-bottom: 50px;
}

section.imagem {
    font-family: var(--fonte-padrao);
    font-size: 4vw;
    color: white;
    margin-bottom: 40px;
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 30px;
    box-shadow: inset 0px 5px 10px #00000052;
}

section#imagem2 {
    background-image: url(imagens/background002.jpg);
}

section.imagem p {
    background-color: #0000005e;
    padding: 20px 20px 20px 10px;
    max-width: 55vw;
    margin-left: -20px;
    border-radius: 10px;
}

footer {
    font-size: 0.9em;
    background-color: #0a0a0a;
    color: white;
    padding: 5px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}